$kanban-userpicture-view-user-color: dynamic(#333);
$kanban-userpicture-view-user-selected-img-background-color: dynamic(#666);
$kanban-userpicture-view-user-selected-background-color: dynamic(#fff);
$kanban-userpicture-view-user-image-border-color: dynamic(#fff);
$kanban-userpicture-view-user-image-hover-border-color: dynamic(#ccc);
$kanban-userpicture-view-user-selected-shadow-color: dynamic(#fff);
