$sch-gantt-timeline-scheduler-cell-background-color : dynamic(#FFE5BD);
$sch-gantt-timeline-scheduler-cell-border-color : dynamic(#FFA500);

$sch-gantt-timeline-scheduler-task-color : dynamic(#373C4A);
$sch-gantt-timeline-scheduler-task-background-color : dynamic(#FFA500);
$sch-gantt-timeline-scheduler-task-border-color : dynamic(#FFE5BD);

$sch-gantt-timeline-scheduler-milestone-label-background-color : dynamic(#242D39);
$sch-gantt-timeline-scheduler-milestone-background-color : dynamic(#DA7B19);
$sch-gantt-timeline-scheduler-milestone-border-color : dynamic(#E4C695);