$gnt-resourcehistogram-selected-cell-border-color : dynamic(transparent);
$gnt-resourcehistogram-selected-cell-background-color : dynamic(transparent);

$gnt-resourcehistogram-line-color : dynamic(#DDD);
$gnt-resourcehistogram-line-label-color : dynamic(#999);
$gnt-resourcehistogram-line-min-color : dynamic(#CCC);
$gnt-resourcehistogram-limitline-color : dynamic(#F99);

$gnt-resourcehistogram-bar-background-color : dynamic(#60A354);
$gnt-resourcehistogram-bar-partofbar-background-color : dynamic(#993);
$gnt-resourcehistogram-bar-overwork-background-color : dynamic(#933);

$gnt-resourcehistogram-bar-text-color : dynamic(#000);