$gnt-datepicker-nonworkingday-background-color : #5B6880;
$gnt-datepicker-workingday-background-color : #22262F;

$gnt-datepicker-noncurrentmonth-color : $gnt-datepicker-nonworkingday-background-color;