$sch-gantt-timeline-scheduler-cell-background-color : dynamic(#80EDC4);
$sch-gantt-timeline-scheduler-cell-border-color : dynamic(#13BD7D);

$sch-gantt-timeline-scheduler-task-background-color : dynamic(#13BD7D);
$sch-gantt-timeline-scheduler-task-border-color : dynamic(#80EDC4);

$sch-gantt-timeline-scheduler-milestone-background-color : dynamic(#5FAFDD);
$sch-gantt-timeline-scheduler-milestone-border-color : dynamic(#F8F8F8);