$sch-event-background-color: dynamic(#aeceee);
$sch-event-border-color: dynamic(#5a85bc);

$sch-event-selected-border-color: dynamic(red);
$sch-event-selected-shadow-horizontal-offset: dynamic(1px);
$sch-event-selected-shadow-vertical-offset: dynamic(1px);
$sch-event-selected-shadow-radius: dynamic(1px);
$sch-event-selected-shadow-color: dynamic(rgba(100, 100, 100, 0.5));

$sch-event-hover-border-color: dynamic(#888);
