$sch-verticaltimeaxis-background-color : dynamic(#6d6d6d);
$sch-verticaltimeaxis-border-color : dynamic(#1b1b1b);
$sch-verticaltimeaxis-border-color-selected : dynamic(#1b1b1b);
$sch-verticaltimeaxis-color : dynamic(#fff);
$sch-verticaltimeaxis-header-background-color : dynamic(#424242);
$sch-verticaltimeaxis-background-color : dynamic($sch-timelineview-background-color);
$sch-verticaltimeaxis-background-color-alt : dynamic($sch-timelineview-background-color-alt);
