$sch-timeaxis-column-header-color: dynamic($grid-column-header-color);
$sch-timeaxis-column-header-background-color: dynamic($grid-header-background-color);
$sch-timeaxis-column-header-background-gradient: dynamic($grid-header-background-gradient);
$sch-timeaxis-column-header-padding: dynamic($grid-header-padding);
$sch-timeaxis-column-header-border-color: dynamic($grid-header-border-color);
$sch-timeaxis-column-header-border-style: dynamic($grid-header-border-style);
$sch-timeaxis-column-header-border-width: dynamic($grid-header-border-width);

$sch-timeaxis-column-header-over-background-color: dynamic($grid-header-over-background-color);
$sch-timeaxis-column-header-over-background-gradient: dynamic($grid-header-over-background-gradient);