$sch-gantt-parenttask-background-color : dynamic(#EFAF90);
$sch-gantt-parenttask-shadow-color : dynamic(rgba(150, 150, 150, 0.1));

$sch-gantt-parenttask-progress-bar-background-color : dynamic(#DF9F80);

$sch-gantt-parenttask-readonly-background-color : dynamic(#C7C7C7);
$sch-gantt-parenttask-readonly-border-color : dynamic(#C7C7C7);
$sch-gantt-parenttask-progress-bar-readonly-background-color : dynamic(#BBB);