$sch-gantt-task-background-color : dynamic(#5A9CFF);
$sch-gantt-task-border-color : dynamic(#5A9CFF);

$sch-gantt-task-highlighted-shadow-color : dynamic(rgba(150, 150, 150, 0.7));

$sch-gantt-task-selected-border-color : dynamic(#5A9CFF);
$sch-gantt-task-selected-shadow-color : dynamic(rgba(150, 150, 150, 0.7));

$sch-gantt-progress-bar-background-color : dynamic(#82BAF7);

$sch-gantt-task-readonly-background-color : dynamic(#AAA);
$sch-gantt-task-readonly-border-color : dynamic(#AAA);
$sch-gantt-progress-bar-readonly-background-color : dynamic(#C1C1C1);
