$sch-gantt-timeline-scheduler-color : dynamic(#999);
$sch-gantt-timeline-scheduler-cell-background-color : dynamic(#707070);
$sch-gantt-timeline-scheduler-cell-border-color : dynamic(#CCC);

$sch-gantt-timeline-scheduler-task-color : dynamic(#FFF);
$sch-gantt-timeline-scheduler-task-background-color : dynamic(#70B872);
$sch-gantt-timeline-scheduler-task-border-color : dynamic(#70B872);

$sch-gantt-timeline-scheduler-milestone-color : dynamic(#888);
$sch-gantt-timeline-scheduler-milestone-label-background-color : dynamic(#FFF);
$sch-gantt-timeline-scheduler-milestone-background-color : dynamic(#333);
$sch-gantt-timeline-scheduler-milestone-border-color : dynamic(#CCC);
$sch-gantt-timeline-scheduler-milestone-shadow-color : dynamic(rgba(100, 100, 100, 0.2));