$kanban-task-border-width: dynamic(0);
$kanban-task-over-background-color: dynamic(#ddd);
$kanban-task-over-color: dynamic($color);
// $grid-cell-selected-background-color
$kanban-task-selected-background-color: dynamic(#ccc);
$kanban-task-selected-color: dynamic($color);
$kanban-task-selected-text-shadow-color: dynamic(transparent);
