.x-tree-elbow-img, .x-tree-icon {
  display: inline-block;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 0 center;
  vertical-align: middle;
}

#company_menu_tree_panel .x-tree-icon {
  height: 16px;
}

#ug_menu_tree_panel .x-tree-icon {
  height: 16px;
}