$sch-gantt-parenttask-background-color                       : dynamic(#34D075);
$sch-gantt-parenttask-border-color                           : dynamic(#34D075);
$sch-gantt-parenttask-shadow-color                           : dynamic(rgba(150, 150, 150, 0.3));

$sch-gantt-parenttask-progress-bar-background-color          : dynamic(#80EDC4);

$sch-gantt-parenttask-baseline-background-color              : dynamic(#DDD);

$sch-gantt-parenttask-readonly-background-color              : dynamic(#A8A8A8);
$sch-gantt-parenttask-readonly-border-color                  : dynamic(#A8A8A8);
$sch-gantt-parenttask-progress-bar-readonly-background-color : dynamic(#D3D3D3);
