$sch-gantt-task-color                             : dynamic(#FFF);
$sch-gantt-task-background-color                  : dynamic(#5FA2DD);
$sch-gantt-task-border-color                      : dynamic(#5FA2DD);

$sch-gantt-task-selected-label-color              : dynamic(#fff);

$sch-gantt-task-baseline-background-color         : dynamic(#DDD);

$sch-gantt-progress-bar-background-color          : dynamic(#87BCEB);

$sch-gantt-task-readonly-background-color         : dynamic(#989898);
$sch-gantt-task-readonly-border-color             : dynamic(#989898);
$sch-gantt-progress-bar-readonly-background-color : dynamic(#B4B4B4);
