$ui-menu-panel-panel-header-background-color: dynamic($panel-header-background-color);
$ui-menu-panel-panel-header-background-gradient: dynamic($panel-header-background-gradient);
$ui-menu-panel-panel-header-border-style: dynamic($panel-header-border-style);
$ui-menu-panel-panel-header-glyph-color: dynamic($panel-header-glyph-color);
$ui-menu-panel-panel-header-icon-width: dynamic($panel-header-icon-width);
$ui-menu-panel-panel-header-icon-height: dynamic($panel-header-icon-height);
$ui-menu-panel-panel-header-icon-spacing: dynamic($panel-header-icon-spacing);
$ui-menu-panel-panel-header-inner-border-color: dynamic($panel-header-inner-border-color);
$ui-menu-panel-panel-header-inner-border-width: dynamic($panel-header-inner-border-width);
$ui-menu-panel-panel-header-padding: dynamic($panel-header-padding);
$ui-menu-panel-panel-header-line-height: dynamic($panel-header-line-height);
$ui-menu-panel-panel-header-color: dynamic($panel-header-color);
$ui-menu-panel-panel-header-font-family: dynamic($panel-header-font-family);
$ui-menu-panel-panel-header-font-size: dynamic($panel-header-font-size);
$ui-menu-panel-panel-header-font-weight: dynamic($panel-header-font-weight);
$ui-menu-panel-panel-header-text-padding: dynamic($panel-header-text-padding);
$ui-menu-panel-panel-body-background-color: dynamic($panel-body-background-color);
$ui-menu-panel-panel-body-border-style: dynamic($panel-body-border-style);
$ui-menu-panel-panel-body-color: dynamic($panel-body-color);
$ui-menu-panel-panel-body-font-family: dynamic($panel-body-font-family);
$ui-menu-panel-panel-body-font-size: dynamic($panel-body-font-size);
$ui-menu-panel-panel-body-font-weight: dynamic($panel-body-font-weight);
$ui-menu-panel-tool-glyph-color: dynamic($tool-glyph-color);
$ui-menu-panel-panel-tool-spacing: dynamic($panel-tool-spacing);
$ui-login-panel-panel-header-background-color: dynamic($panel-header-background-color);
$ui-login-panel-panel-header-background-gradient: dynamic($panel-header-background-gradient);
$ui-login-panel-panel-header-border-style: dynamic($panel-header-border-style);
$ui-login-panel-panel-header-glyph-color: dynamic($panel-header-glyph-color);
$ui-login-panel-panel-header-icon-width: dynamic($panel-header-icon-width);
$ui-login-panel-panel-header-icon-height: dynamic($panel-header-icon-height);
$ui-login-panel-panel-header-icon-spacing: dynamic($panel-header-icon-spacing);
$ui-login-panel-panel-header-inner-border-color: dynamic($panel-header-inner-border-color);
$ui-login-panel-panel-header-inner-border-width: dynamic($panel-header-inner-border-width);
$ui-login-panel-panel-header-padding: dynamic($panel-header-padding);
$ui-login-panel-panel-header-line-height: dynamic($panel-header-line-height);
$ui-login-panel-panel-header-color: dynamic($panel-header-color);
$ui-login-panel-panel-header-font-family: dynamic($panel-header-font-family);
$ui-login-panel-panel-header-font-size: dynamic($panel-header-font-size);
$ui-login-panel-panel-header-font-weight: dynamic($panel-header-font-weight);
$ui-login-panel-panel-header-text-padding: dynamic($panel-header-text-padding);
$ui-login-panel-panel-body-background-color: dynamic($panel-body-background-color);
$ui-login-panel-panel-body-border-style: dynamic($panel-body-border-style);
$ui-login-panel-panel-body-color: dynamic($panel-body-color);
$ui-login-panel-panel-body-font-family: dynamic($panel-body-font-family);
$ui-login-panel-panel-body-font-size: dynamic($panel-body-font-size);
$ui-login-panel-panel-body-font-weight: dynamic($panel-body-font-weight);
$ui-login-panel-tool-glyph-color: dynamic($tool-glyph-color);
$ui-login-panel-panel-tool-spacing: dynamic($panel-tool-spacing);
$ui-fieldgroup-panel-panel-header-background-color: dynamic($panel-header-background-color);
$ui-fieldgroup-panel-panel-header-background-gradient: dynamic($panel-header-background-gradient);
$ui-fieldgroup-panel-panel-header-border-style: dynamic($panel-header-border-style);
$ui-fieldgroup-panel-panel-header-glyph-color: dynamic($panel-header-glyph-color);
$ui-fieldgroup-panel-panel-header-icon-width: dynamic($panel-header-icon-width);
$ui-fieldgroup-panel-panel-header-icon-height: dynamic($panel-header-icon-height);
$ui-fieldgroup-panel-panel-header-icon-spacing: dynamic($panel-header-icon-spacing);
$ui-fieldgroup-panel-panel-header-inner-border-color: dynamic($panel-header-inner-border-color);
$ui-fieldgroup-panel-panel-header-inner-border-width: dynamic($panel-header-inner-border-width);
$ui-fieldgroup-panel-panel-header-padding: dynamic($panel-header-padding);
$ui-fieldgroup-panel-panel-header-line-height: dynamic($panel-header-line-height);
$ui-fieldgroup-panel-panel-header-color: dynamic($panel-header-color);
$ui-fieldgroup-panel-panel-header-font-family: dynamic($panel-header-font-family);
$ui-fieldgroup-panel-panel-header-font-size: dynamic($panel-header-font-size);
$ui-fieldgroup-panel-panel-header-font-weight: dynamic($panel-header-font-weight);
$ui-fieldgroup-panel-panel-header-text-padding: dynamic($panel-header-text-padding);
$ui-fieldgroup-panel-panel-body-background-color: dynamic($panel-body-background-color);
$ui-fieldgroup-panel-panel-body-border-style: dynamic($panel-body-border-style);
$ui-fieldgroup-panel-panel-body-color: dynamic($panel-body-color);
$ui-fieldgroup-panel-panel-body-font-family: dynamic($panel-body-font-family);
$ui-fieldgroup-panel-panel-body-font-size: dynamic($panel-body-font-size);
$ui-fieldgroup-panel-panel-body-font-weight: dynamic($panel-body-font-weight);
$ui-fieldgroup-panel-tool-glyph-color: dynamic($tool-glyph-color);
$ui-fieldgroup-panel-panel-tool-spacing: dynamic($panel-tool-spacing);
$ui-view-tabpanel-tabbar-background-gradient: dynamic($tabbar-background-gradient);
$ui-view-tabpanel-tabbar-padding: dynamic($tabbar-padding);
$ui-view-tabpanel-tabbar-strip-height: dynamic($tabbar-strip-height);
$ui-view-tabpanel-tabbar-strip-background-color: dynamic($tabbar-strip-background-color);
$ui-view-tabpanel-tabbar-strip-border-color: dynamic($tabbar-strip-border-color);
$ui-view-tabpanel-tabbar-strip-border-width: dynamic($tabbar-strip-border-width);
$ui-view-tabpanel-tab-base-color: dynamic(null);
$ui-view-tabpanel-tab-background-gradient: dynamic(null);
$ui-view-tabpanel-tab-border-color: dynamic(null);
$ui-view-tabpanel-tab-border-width: dynamic($tab-border-width);
$ui-view-tabpanel-tab-color: dynamic(null);
$ui-view-tabpanel-tab-font-family: dynamic(null);
$ui-view-tabpanel-tab-font-size: dynamic(null);
$ui-view-tabpanel-tab-font-weight: dynamic(null);
$ui-view-tabpanel-tab-border-radius: dynamic($tab-border-radius);
$ui-view-tabpanel-tab-inner-border-color: dynamic(null);
$ui-view-tabpanel-tab-inner-border-width: dynamic(null);
$ui-view-tabpanel-tab-padding: dynamic($tab-padding);
$ui-view-tabpanel-tab-text-padding: dynamic($tab-text-padding);
$ui-view-tabpanel-tab-line-height: dynamic($tab-line-height);
$ui-view-tabpanel-tab-glyph-color: dynamic(null);
$ui-view-tabpanel-tab-closable-icon-glyph-color: dynamic(null);
$ui-view-tabpanel-tab-icon-width: dynamic($tab-icon-width);
$ui-view-tabpanel-tab-icon-height: dynamic($tab-icon-height);
$ui-view-tabpanel-tab-icon-spacing: dynamic($tab-icon-spacing);
$ui-view-tabpanel-tab-closable-icon-height: dynamic($tab-closable-icon-height);
$ui-view-tabpanel-tab-closable-icon-right: dynamic($tab-closable-icon-right);
$ui-view-tabpanel-tab-closable-icon-top: dynamic($tab-closable-icon-top);
$ui-view-tabpanel-tab-base-color-active: dynamic(null);
$ui-view-tabpanel-tab-background-gradient-active: dynamic(null);
$ui-view-tabpanel-tab-border-color-active: dynamic(null);
$ui-view-tabpanel-tab-inner-border-color-active: dynamic(null);
$ui-view-tabpanel-tab-color-active: dynamic(null);
$ui-view-tabpanel-tab-font-family-active: dynamic(null);
$ui-view-tabpanel-tab-font-size-active: dynamic(null);
$ui-view-tabpanel-tab-font-weight-active: dynamic(null);
$ui-view-tabpanel-tab-glyph-color-active: dynamic(null);
$ui-view-tabpanel-tab-closable-icon-glyph-color-active: dynamic(null);
$ui-view-tabpanel-tab-base-color-over: dynamic(null);
$ui-view-tabpanel-tab-background-opacity-over: dynamic($tab-background-opacity-over);
$ui-view-tabpanel-tab-background-gradient-over: dynamic(null);
$ui-view-tabpanel-tab-color-over: dynamic(null);
$ui-view-tabpanel-tab-font-family-over: dynamic(null);
$ui-view-tabpanel-tab-font-size-over: dynamic(null);
$ui-view-tabpanel-tab-font-weight-over: dynamic(null);
$ui-view-tabpanel-tab-glyph-color-over: dynamic(null);
$ui-view-tabpanel-tab-closable-icon-glyph-color-over: dynamic(null);
$ui-view-tabpanel-tab-color-disabled: dynamic(null);
$ui-view-tabpanel-tab-font-family-disabled: dynamic(null);
$ui-view-tabpanel-tab-font-size-disabled: dynamic(null);
$ui-view-tabpanel-tab-font-weight-disabled: dynamic(null);
$ui-view-tabpanel-tab-text-opacity-disabled: dynamic($tab-text-opacity-disabled);
$ui-view-tabpanel-tab-glyph-color-disabled: dynamic(null);
$ui-view-tabpanel-tab-background-gradient-focus: dynamic(null);
$ui-view-tabpanel-tab-color-focus: dynamic(null);
$ui-view-tabpanel-tab-font-family-focus: dynamic(null);
$ui-view-tabpanel-tab-font-size-focus: dynamic(null);
$ui-view-tabpanel-tab-font-weight-focus: dynamic(null);
$ui-view-tabpanel-tab-glyph-color-focus: dynamic(null);
$ui-view-tabpanel-tab-inner-border-color-focus: dynamic(null);
$ui-view-tabpanel-tab-closable-icon-glyph-color-focus: dynamic(null);
$ui-view-tabpanel-tab-outline-color-focus: dynamic($tab-outline-color-focus);
$ui-view-tabpanel-tab-outline-width-focus: dynamic($tab-outline-width-focus);
$ui-view-tabpanel-tab-outline-style-focus: dynamic($tab-outline-style-focus);
$ui-view-tabpanel-tab-outline-offset-focus: dynamic($tab-outline-offset-focus);
$ui-view-tabpanel-tab-base-color-focus-active: dynamic(null);
$ui-view-tabpanel-tab-inner-border-color-focus-active: dynamic(null);
$ui-view-tabpanel-tab-background-gradient-focus-active: dynamic(null);
$ui-view-tabpanel-tab-color-focus-active: dynamic(null);
$ui-view-tabpanel-tab-font-family-focus-active: dynamic(null);
$ui-view-tabpanel-tab-font-size-focus-active: dynamic(null);
$ui-view-tabpanel-tab-font-weight-focus-active: dynamic(null);
$ui-view-tabpanel-tab-glyph-color-focus-active: dynamic(null);
$ui-view-tabpanel-tab-closable-icon-glyph-color-focus-active: dynamic(null);
$ui-readonly-textfield-form-field-background-color: dynamic($form-text-field-background-color);
$ui-readonly-textfield-form-field-border-color: dynamic($form-text-field-border-color);
$ui-readonly-textfield-form-field-border-width: dynamic($form-text-field-border-width);
$ui-readonly-textfield-form-field-border-style: dynamic($form-text-field-border-style);
$ui-readonly-textfield-form-field-focus-border-color: dynamic($form-text-field-focus-border-color);
$ui-readonly-textfield-form-text-field-border-radius: dynamic($form-text-field-border-radius);
$ui-readonly-textfield-form-field-color: dynamic($form-text-field-color);
$ui-readonly-textfield-form-field-font-family: dynamic($form-text-field-font-family);
$ui-readonly-textfield-form-field-font-size: dynamic($form-text-field-font-size);
$ui-readonly-textfield-form-field-font-weight: dynamic($form-text-field-font-weight);
$ui-readonly-textfield-form-field-padding: dynamic($form-text-field-padding);
$ui-readonly-textfield-form-field-height: dynamic($form-text-field-height);
$ui-readonly-textfield-form-field-empty-color: dynamic($form-text-field-empty-color);
$ui-readonly-textfield-form-label-font-color: dynamic($form-label-font-color);
$ui-readonly-textfield-form-label-font-family: dynamic($form-label-font-family);
$ui-readonly-textfield-form-label-font-size: dynamic($form-label-font-size);
$ui-readonly-textfield-form-label-font-weight: dynamic($form-label-font-weight);
$ui-readonly-textfield-form-label-line-height: dynamic($form-label-line-height);
$ui-readonly-textfield-form-label-horizontal-spacing: dynamic($form-label-horizontal-spacing);
$ui-readonly-textfield-form-label-vertical-spacing: dynamic($form-label-vertical-spacing);
$ui-readonly-textfield-form-error-icon-width: dynamic($form-error-icon-width);
$ui-readonly-textfield-form-error-icon-height: dynamic($form-error-icon-height);
$ui-readonly-textfield-form-error-msg-color: dynamic($form-error-msg-color);
$ui-readonly-textfield-form-error-msg-font-family: dynamic($form-error-msg-font-family);
$ui-readonly-textfield-form-error-msg-font-size: dynamic($form-error-msg-font-size);
$ui-readonly-textfield-form-error-msg-font-weight: dynamic($form-error-msg-font-weight);
$ui-readonly-textfield-form-error-msg-line-height: dynamic($form-error-msg-line-height);
$ui-readonly-textfield-form-error-under-icon-spacing: dynamic($form-error-under-icon-spacing);
$ui-readonly-textfield-form-error-under-padding: dynamic($form-error-under-padding);
$ui-readonly-textfield-form-field-invalid-background-color: dynamic($form-field-invalid-background-color);
$ui-readonly-textfield-form-field-invalid-border-color: dynamic($form-text-field-invalid-border-color);
$ui-readonly-textfield-form-trigger-background-color: dynamic($form-trigger-background-color);
$ui-readonly-textfield-form-trigger-border-color: dynamic($form-trigger-border-color);
$ui-readonly-textfield-form-trigger-border-width: dynamic($form-trigger-border-width);
$ui-readonly-textfield-form-trigger-border-style: dynamic($form-trigger-border-style);
$ui-readonly-textfield-form-trigger-border-color-focus: dynamic(null);
$ui-readonly-textfield-form-trigger-border-color-over: dynamic(null);
$ui-readonly-textfield-form-trigger-border-color-pressed: dynamic(null);
$ui-readonly-textfield-form-trigger-glyph-color: dynamic($form-trigger-glyph-color);
$ui-readonly-textfield-form-trigger-width: dynamic($form-trigger-width);
$ui-grid-search-field-form-field-background-color: dynamic($form-text-field-background-color);
$ui-grid-search-field-form-field-border-color: dynamic($form-text-field-border-color);
$ui-grid-search-field-form-field-border-width: dynamic($form-text-field-border-width);
$ui-grid-search-field-form-field-border-style: dynamic($form-text-field-border-style);
$ui-grid-search-field-form-field-focus-border-color: dynamic($form-text-field-focus-border-color);
$ui-grid-search-field-form-text-field-border-radius: dynamic($form-text-field-border-radius);
$ui-grid-search-field-form-field-color: dynamic($form-text-field-color);
$ui-grid-search-field-form-field-font-family: dynamic($form-text-field-font-family);
$ui-grid-search-field-form-field-font-size: dynamic($form-text-field-font-size);
$ui-grid-search-field-form-field-font-weight: dynamic($form-text-field-font-weight);
$ui-grid-search-field-form-field-padding: dynamic($form-text-field-padding);
$ui-grid-search-field-form-field-height: dynamic($form-text-field-height);
$ui-grid-search-field-form-field-empty-color: dynamic($form-text-field-empty-color);
$ui-grid-search-field-form-label-font-color: dynamic($form-label-font-color);
$ui-grid-search-field-form-label-font-family: dynamic($form-label-font-family);
$ui-grid-search-field-form-label-font-size: dynamic($form-label-font-size);
$ui-grid-search-field-form-label-font-weight: dynamic($form-label-font-weight);
$ui-grid-search-field-form-label-line-height: dynamic($form-label-line-height);
$ui-grid-search-field-form-label-horizontal-spacing: dynamic($form-label-horizontal-spacing);
$ui-grid-search-field-form-label-vertical-spacing: dynamic($form-label-vertical-spacing);
$ui-grid-search-field-form-error-icon-width: dynamic($form-error-icon-width);
$ui-grid-search-field-form-error-icon-height: dynamic($form-error-icon-height);
$ui-grid-search-field-form-error-msg-color: dynamic($form-error-msg-color);
$ui-grid-search-field-form-error-msg-font-family: dynamic($form-error-msg-font-family);
$ui-grid-search-field-form-error-msg-font-size: dynamic($form-error-msg-font-size);
$ui-grid-search-field-form-error-msg-font-weight: dynamic($form-error-msg-font-weight);
$ui-grid-search-field-form-error-msg-line-height: dynamic($form-error-msg-line-height);
$ui-grid-search-field-form-error-under-icon-spacing: dynamic($form-error-under-icon-spacing);
$ui-grid-search-field-form-error-under-padding: dynamic($form-error-under-padding);
$ui-grid-search-field-form-field-invalid-background-color: dynamic($form-field-invalid-background-color);
$ui-grid-search-field-form-field-invalid-border-color: dynamic($form-text-field-invalid-border-color);
$ui-grid-search-field-form-trigger-background-color: dynamic($form-trigger-background-color);
$ui-grid-search-field-form-trigger-border-color: dynamic($form-trigger-border-color);
$ui-grid-search-field-form-trigger-border-width: dynamic($form-trigger-border-width);
$ui-grid-search-field-form-trigger-border-style: dynamic($form-trigger-border-style);
$ui-grid-search-field-form-trigger-border-color-focus: dynamic(null);
$ui-grid-search-field-form-trigger-border-color-over: dynamic(null);
$ui-grid-search-field-form-trigger-border-color-pressed: dynamic(null);
$ui-grid-search-field-form-trigger-glyph-color: dynamic($form-trigger-glyph-color);
$ui-grid-search-field-form-trigger-width: dynamic($form-trigger-width);
$ui-top-toolbar-toolbar-background-color: dynamic($toolbar-background-color);
$ui-top-toolbar-toolbar-background-gradient: dynamic($toolbar-background-gradient);
$ui-top-toolbar-toolbar-vertical-spacing: dynamic($toolbar-vertical-spacing);
$ui-top-toolbar-toolbar-separator-color: dynamic($toolbar-separator-color);
$ui-top-toolbar-toolbar-separator-horizontal-border-width: dynamic($toolbar-separator-horizontal-border-width);
$ui-top-toolbar-toolbar-separator-horizontal-border-style: dynamic($toolbar-separator-horizontal-border-style);
$ui-top-toolbar-toolbar-separator-horizontal-height: dynamic($toolbar-separator-horizontal-height);
$ui-top-toolbar-toolbar-separator-vertical-border-width: dynamic($toolbar-separator-vertical-border-width);
$ui-top-toolbar-toolbar-separator-vertical-border-style: dynamic($toolbar-separator-vertical-border-style);
$ui-top-toolbar-toolbar-text-font-family: dynamic($toolbar-text-font-family);
$ui-top-toolbar-toolbar-text-font-size: dynamic($toolbar-text-font-size);
$ui-top-toolbar-toolbar-text-font-weight: dynamic($toolbar-text-font-weight);
$ui-top-toolbar-toolbar-text-color: dynamic($toolbar-text-color);
$ui-top-toolbar-toolbar-text-line-height: dynamic($toolbar-text-line-height);
$ui-top-toolbar-toolbar-text-padding: dynamic($toolbar-text-padding);
$ui-top-toolbar-button-toolbar-background-color: dynamic(null);
$ui-top-toolbar-button-toolbar-background-gradient: dynamic($button-toolbar-background-gradient);
$ui-top-toolbar-button-toolbar-color: dynamic(null);
$ui-top-toolbar-button-toolbar-arrow-glyph-color: dynamic($button-toolbar-arrow-glyph-color);
$ui-top-toolbar-button-toolbar-glyph-color: dynamic($button-toolbar-glyph-color);
$ui-top-toolbar-button-toolbar-inner-border-color: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-width: dynamic(null);
$ui-top-toolbar-button-toolbar-border-color: dynamic(null);
$ui-top-toolbar-button-toolbar-background-color-over: dynamic(null);
$ui-top-toolbar-button-toolbar-background-gradient-over: dynamic($button-toolbar-background-gradient-over);
$ui-top-toolbar-button-toolbar-border-color-over: dynamic(null);
$ui-top-toolbar-button-toolbar-color-over: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-color-over: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-width-over: dynamic(null);
$ui-top-toolbar-button-toolbar-background-color-pressed: dynamic(null);
$ui-top-toolbar-button-toolbar-background-gradient-pressed: dynamic($button-toolbar-background-gradient-pressed);
$ui-top-toolbar-button-toolbar-border-color-pressed: dynamic(null);
$ui-top-toolbar-button-toolbar-color-pressed: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-color-pressed: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-width-pressed: dynamic(null);
$ui-top-toolbar-button-toolbar-background-color-disabled: dynamic(null);
$ui-top-toolbar-button-toolbar-background-gradient-disabled: dynamic($button-toolbar-background-gradient-disabled);
$ui-top-toolbar-button-toolbar-border-color-disabled: dynamic(null);
$ui-top-toolbar-button-toolbar-color-disabled: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-color-disabled: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-width-disabled: dynamic(null);
$ui-top-toolbar-button-toolbar-background-color-focus: dynamic(null);
$ui-top-toolbar-button-toolbar-background-gradient-focus: dynamic($button-toolbar-background-gradient-focus);
$ui-top-toolbar-button-toolbar-body-outline-color-focus: dynamic($button-toolbar-body-outline-color-focus);
$ui-top-toolbar-button-toolbar-body-outline-width-focus: dynamic($button-toolbar-body-outline-width-focus);
$ui-top-toolbar-button-toolbar-body-outline-style-focus: dynamic($button-toolbar-body-outline-style-focus);
$ui-top-toolbar-button-toolbar-border-color-focus: dynamic(null);
$ui-top-toolbar-button-toolbar-color-focus: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-color-focus: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-width-focus: dynamic(null);
$ui-top-toolbar-button-toolbar-background-color-focus-over: dynamic(null);
$ui-top-toolbar-button-toolbar-background-gradient-focus-over: dynamic($button-toolbar-background-gradient-focus-over);
$ui-top-toolbar-button-toolbar-border-color-focus-over: dynamic(null);
$ui-top-toolbar-button-toolbar-color-focus-over: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-color-focus-over: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-width-focus-over: dynamic(null);
$ui-top-toolbar-button-toolbar-background-color-focus-pressed: dynamic(null);
$ui-top-toolbar-button-toolbar-background-gradient-focus-pressed: dynamic($button-toolbar-background-gradient-focus-pressed);
$ui-top-toolbar-button-toolbar-border-color-focus-pressed: dynamic(null);
$ui-top-toolbar-button-toolbar-color-focus-pressed: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-color-focus-pressed: dynamic(null);
$ui-top-toolbar-button-toolbar-inner-border-width-focus-pressed: dynamic(null);
$ui-small-header-panel-panel-header-background-color: dynamic($panel-header-background-color);
$ui-small-header-panel-panel-header-background-gradient: dynamic($panel-header-background-gradient);
$ui-small-header-panel-panel-header-border-style: dynamic($panel-header-border-style);
$ui-small-header-panel-panel-header-glyph-color: dynamic($panel-header-glyph-color);
$ui-small-header-panel-panel-header-icon-width: dynamic($panel-header-icon-width);
$ui-small-header-panel-panel-header-icon-height: dynamic($panel-header-icon-height);
$ui-small-header-panel-panel-header-icon-spacing: dynamic($panel-header-icon-spacing);
$ui-small-header-panel-panel-header-inner-border-color: dynamic($panel-header-inner-border-color);
$ui-small-header-panel-panel-header-inner-border-width: dynamic($panel-header-inner-border-width);
$ui-small-header-panel-panel-header-padding: dynamic($panel-header-padding);
$ui-small-header-panel-panel-header-line-height: dynamic($panel-header-line-height);
$ui-small-header-panel-panel-header-color: dynamic($panel-header-color);
$ui-small-header-panel-panel-header-font-family: dynamic($panel-header-font-family);
$ui-small-header-panel-panel-header-font-size: dynamic($panel-header-font-size);
$ui-small-header-panel-panel-header-font-weight: dynamic($panel-header-font-weight);
$ui-small-header-panel-panel-header-text-padding: dynamic($panel-header-text-padding);
$ui-small-header-panel-panel-body-background-color: dynamic($panel-body-background-color);
$ui-small-header-panel-panel-body-border-style: dynamic($panel-body-border-style);
$ui-small-header-panel-panel-body-color: dynamic($panel-body-color);
$ui-small-header-panel-panel-body-font-family: dynamic($panel-body-font-family);
$ui-small-header-panel-panel-body-font-size: dynamic($panel-body-font-size);
$ui-small-header-panel-panel-body-font-weight: dynamic($panel-body-font-weight);
$ui-small-header-panel-tool-glyph-color: dynamic($tool-glyph-color);
$ui-small-header-panel-panel-tool-spacing: dynamic($panel-tool-spacing);
$ui-top-toolbar-button-button-default-background-color: dynamic(null);
$ui-top-toolbar-button-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-top-toolbar-button-button-default-border-color: dynamic(null);
$ui-top-toolbar-button-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-top-toolbar-button-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-top-toolbar-button-button-default-inner-border-color: dynamic(null);
$ui-top-toolbar-button-button-default-inner-border-width: dynamic(null);
$ui-top-toolbar-button-button-default-color: dynamic(null);
$ui-top-toolbar-button-button-small-border-width: dynamic($button-small-border-width);
$ui-top-toolbar-button-button-small-border-radius: dynamic($button-small-border-radius);
$ui-top-toolbar-button-button-small-padding: dynamic($button-small-padding);
$ui-top-toolbar-button-button-small-font-family: dynamic(null);
$ui-top-toolbar-button-button-small-font-size: dynamic(null);
$ui-top-toolbar-button-button-small-font-weight: dynamic(null);
$ui-top-toolbar-button-button-small-text-padding: dynamic($button-small-text-padding);
$ui-top-toolbar-button-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-top-toolbar-button-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-top-toolbar-button-button-small-icon-size: dynamic($button-small-icon-size);
$ui-top-toolbar-button-button-small-line-height: dynamic($button-small-line-height);
$ui-top-toolbar-button-button-medium-border-width: dynamic($button-medium-border-width);
$ui-top-toolbar-button-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-top-toolbar-button-button-medium-padding: dynamic($button-medium-padding);
$ui-top-toolbar-button-button-medium-font-family: dynamic(null);
$ui-top-toolbar-button-button-medium-font-size: dynamic(null);
$ui-top-toolbar-button-button-medium-font-weight: dynamic(null);
$ui-top-toolbar-button-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-top-toolbar-button-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-top-toolbar-button-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-top-toolbar-button-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-top-toolbar-button-button-medium-line-height: dynamic($button-medium-line-height);
$ui-top-toolbar-button-button-large-border-width: dynamic($button-large-border-width);
$ui-top-toolbar-button-button-large-border-radius: dynamic($button-large-border-radius);
$ui-top-toolbar-button-button-large-padding: dynamic($button-large-padding);
$ui-top-toolbar-button-button-large-font-family: dynamic(null);
$ui-top-toolbar-button-button-large-font-size: dynamic(null);
$ui-top-toolbar-button-button-large-font-weight: dynamic(null);
$ui-top-toolbar-button-button-large-text-padding: dynamic($button-large-text-padding);
$ui-top-toolbar-button-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-top-toolbar-button-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-top-toolbar-button-button-large-icon-size: dynamic($button-large-icon-size);
$ui-top-toolbar-button-button-large-line-height: dynamic($button-large-line-height);
$ui-top-toolbar-button-button-default-background-color-disabled: dynamic(null);
$ui-top-toolbar-button-button-default-border-color-disabled: dynamic(null);
$ui-top-toolbar-button-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-top-toolbar-button-button-default-inner-border-color-disabled: dynamic(null);
$ui-top-toolbar-button-button-default-inner-border-width-disabled: dynamic(null);
$ui-top-toolbar-button-button-default-background-color-focus: dynamic(null);
$ui-top-toolbar-button-button-default-border-color-focus: dynamic(null);
$ui-top-toolbar-button-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-top-toolbar-button-button-default-inner-border-color-focus: dynamic(null);
$ui-top-toolbar-button-button-default-inner-border-width-focus: dynamic(null);
$ui-top-toolbar-button-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-top-toolbar-button-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-top-toolbar-button-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-top-toolbar-button-button-default-background-color-focus-over: dynamic(null);
$ui-top-toolbar-button-button-default-border-color-focus-over: dynamic(null);
$ui-top-toolbar-button-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-top-toolbar-button-button-default-inner-border-color-focus-over: dynamic(null);
$ui-top-toolbar-button-button-default-inner-border-width-focus-over: dynamic(null);
$ui-top-toolbar-button-button-default-background-color-focus-pressed: dynamic(null);
$ui-top-toolbar-button-button-default-border-color-focus-pressed: dynamic(null);
$ui-top-toolbar-button-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-top-toolbar-button-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-top-toolbar-button-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-top-toolbar-button-button-default-background-color-over: dynamic(null);
$ui-top-toolbar-button-button-default-border-color-over: dynamic(null);
$ui-top-toolbar-button-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-top-toolbar-button-button-default-inner-border-color-over: dynamic(null);
$ui-top-toolbar-button-button-default-inner-border-width-over: dynamic(null);
$ui-top-toolbar-button-button-default-background-color-pressed: dynamic(null);
$ui-top-toolbar-button-button-default-border-color-pressed: dynamic(null);
$ui-top-toolbar-button-button-default-background-gradient-pressed: dynamic($button-default-background-gradient-pressed);
$ui-top-toolbar-button-button-default-inner-border-color-pressed: dynamic(null);
$ui-top-toolbar-button-button-default-inner-border-width-pressed: dynamic(null);
$ui-login-button-button-default-background-color: dynamic(null);
$ui-login-button-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-login-button-button-default-border-color: dynamic(null);
$ui-login-button-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-login-button-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-login-button-button-default-inner-border-color: dynamic(null);
$ui-login-button-button-default-inner-border-width: dynamic(null);
$ui-login-button-button-default-color: dynamic(null);
$ui-login-button-button-small-border-width: dynamic($button-small-border-width);
$ui-login-button-button-small-border-radius: dynamic($button-small-border-radius);
$ui-login-button-button-small-padding: dynamic($button-small-padding);
$ui-login-button-button-small-font-family: dynamic(null);
$ui-login-button-button-small-font-size: dynamic(null);
$ui-login-button-button-small-font-weight: dynamic(null);
$ui-login-button-button-small-text-padding: dynamic($button-small-text-padding);
$ui-login-button-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-login-button-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-login-button-button-small-icon-size: dynamic($button-small-icon-size);
$ui-login-button-button-small-line-height: dynamic($button-small-line-height);
$ui-login-button-button-medium-border-width: dynamic($button-medium-border-width);
$ui-login-button-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-login-button-button-medium-padding: dynamic($button-medium-padding);
$ui-login-button-button-medium-font-family: dynamic(null);
$ui-login-button-button-medium-font-size: dynamic(null);
$ui-login-button-button-medium-font-weight: dynamic(null);
$ui-login-button-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-login-button-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-login-button-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-login-button-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-login-button-button-medium-line-height: dynamic($button-medium-line-height);
$ui-login-button-button-large-border-width: dynamic($button-large-border-width);
$ui-login-button-button-large-border-radius: dynamic($button-large-border-radius);
$ui-login-button-button-large-padding: dynamic($button-large-padding);
$ui-login-button-button-large-font-family: dynamic(null);
$ui-login-button-button-large-font-size: dynamic(null);
$ui-login-button-button-large-font-weight: dynamic(null);
$ui-login-button-button-large-text-padding: dynamic($button-large-text-padding);
$ui-login-button-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-login-button-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-login-button-button-large-icon-size: dynamic($button-large-icon-size);
$ui-login-button-button-large-line-height: dynamic($button-large-line-height);
$ui-login-button-button-default-background-color-disabled: dynamic(null);
$ui-login-button-button-default-border-color-disabled: dynamic(null);
$ui-login-button-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-login-button-button-default-inner-border-color-disabled: dynamic(null);
$ui-login-button-button-default-inner-border-width-disabled: dynamic(null);
$ui-login-button-button-default-background-color-focus: dynamic(null);
$ui-login-button-button-default-border-color-focus: dynamic(null);
$ui-login-button-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-login-button-button-default-inner-border-color-focus: dynamic(null);
$ui-login-button-button-default-inner-border-width-focus: dynamic(null);
$ui-login-button-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-login-button-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-login-button-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-login-button-button-default-background-color-focus-over: dynamic(null);
$ui-login-button-button-default-border-color-focus-over: dynamic(null);
$ui-login-button-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-login-button-button-default-inner-border-color-focus-over: dynamic(null);
$ui-login-button-button-default-inner-border-width-focus-over: dynamic(null);
$ui-login-button-button-default-background-color-focus-pressed: dynamic(null);
$ui-login-button-button-default-border-color-focus-pressed: dynamic(null);
$ui-login-button-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-login-button-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-login-button-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-login-button-button-default-background-color-over: dynamic(null);
$ui-login-button-button-default-border-color-over: dynamic(null);
$ui-login-button-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-login-button-button-default-inner-border-color-over: dynamic(null);
$ui-login-button-button-default-inner-border-width-over: dynamic(null);
$ui-login-button-button-default-background-color-pressed: dynamic(null);
$ui-login-button-button-default-border-color-pressed: dynamic(null);
$ui-login-button-button-default-background-gradient-pressed: dynamic($button-default-background-gradient-pressed);
$ui-login-button-button-default-inner-border-color-pressed: dynamic(null);
$ui-login-button-button-default-inner-border-width-pressed: dynamic(null);