$kanban-dragzone-taskdd-background-color: dynamic(transparent !important);
$kanban-dragzone-taskdd-dropicon-background-color: dynamic(rgba(255, 255, 255, 0.9));
$kanban-dragzone-placeholder-background-color: dynamic(rgba(230, 230, 230, 0.7));
$kanban-dragzone-placeholder-border-color: dynamic(#aaa);