/**
 * @class Kanban.view.TaskColumn
 */

$kanban-taskcolumn-view-selector-border-color: dynamic(#39b);
$kanban-taskcolumn-view-selector-border-width: dynamic(1px);
$kanban-taskcolumn-view-selector-border-style: dynamic(dotted);


