.sch-ganttpanel .#{$prefix}grid-cell {
  border-bottom-color : #ededed !important;
}

.sch-ganttpanel .#{$prefix}splitter {
  background   : #e6e6e6;
  border-color : #157fcc;
}

.sch-ganttpanel .#{$prefix}grid-with-row-lines .#{$prefix}grid-item {
  border-color : #eee;
}

/* LOCKED GRID STYLING */
.sch-ganttpanel .#{$prefix}grid-inner-locked {
  border-right : 1px solid #ddd;
}

.sch-ganttpanel .#{$prefix}grid-inner-locked .#{$prefix}column-header-last,
.sch-ganttpanel .#{$prefix}grid-inner-locked .#{$prefix}grid-cell-last {
  border-right : 0 none !important;
}

/* EOF LOCKED GRID STYLING */

/* HEADER STYLING */
.sch-ganttpanel .sch-column-header {
  padding : 10px 0;
}

/* EOF HEADER STYLING */
