$sch-gantt-parenttask-background-color : dynamic(#3892D3);
$sch-gantt-parenttask-border-color : dynamic(#3892D3);

$sch-gantt-parenttask-progress-bar-background-color : dynamic(#9BC8E9);

$sch-gantt-parenttask-readonly-background-color : dynamic(#848484);
$sch-gantt-parenttask-readonly-border-color : dynamic(#848484);
$sch-gantt-parenttask-progress-bar-readonly-background-color : dynamic(#C1C1C1);

$sch-gantt-parenttask-arrow-border-color : dynamic(#3892D3);
$sch-gantt-parenttask-readonly-arrow-border-color : dynamic(#C1C1C1);