$sch-gantt-task-label-color : dynamic(#555);
$sch-gantt-task-background-color : dynamic(#6CD687);
$sch-gantt-task-border-color : dynamic(#89BB38);

$sch-gantt-task-selected-label-color : dynamic(#000);

$sch-gantt-progress-bar-color : dynamic(#555);
$sch-gantt-progress-bar-background-color : dynamic(#A6E6B7);

$sch-gantt-task-readonly-background-color : dynamic(#BABABA);
$sch-gantt-task-readonly-border-color : dynamic(#A7A7A7);
$sch-gantt-progress-bar-readonly-background-color : dynamic(#D5D5D5);
