.sch-gantt-timeline-scheduler .sch-schedulerview .#{$prefix}grid-cell {
  border-width : 2px !important;
}

.sch-gantt-timeline-scheduler div.sch-event-milestone .sch-gantt-timeline-diamond {
  border-width : 2px !important;
}

.sch-gantt-timeline .sch-gantt-timeline-label {
  margin-top : 45px;
}