$sch-columnpicker-list-item-background-color : dynamic(rgba(0, 0, 0, 0));
$sch-columnpicker-list-item-selected-background-color : dynamic(#f2f2f2);
$sch-columnpicker-list-item-over-background-color : dynamic(rgba(242, 242, 242, 0.7));
