$kanban-task-background-color           : dynamic(#fff);
$kanban-task-color                      : dynamic(#404040);
$kanban-task-border-width               : dynamic(0);

$kanban-task-over-background-color      : dynamic(#e6e6e6);
$kanban-task-over-color                 : dynamic(#404040);

$kanban-task-selected-background-color  : dynamic(#56b4e9);
$kanban-task-selected-color             : dynamic(#fff);
$kanban-task-selected-text-shadow-color : dynamic(transparent);

$kanban-task-phantom-border-color       : dynamic(#1b1b1b);
$kanban-task-phantom-border-width       : dynamic(2px);
